<h2 class="page-title">About</h2>
I won my first hackathon and got my first job at 16. At 17, I decided to skip
college and build cool things full time. <br /><br /> 

<br />
<br />
<h1>Now</h1>

<ul>
  <li>building <a href="https://induced.ai">Induced</a>(p.s. i'm hiring across engineering and data roles: <a href="https://indcd.co/careers">indcd.co/careers</a>)</li>
  <li>
    flying back and forth between
    <u>
      <x class="external" onclick="page('mumbai')">mumbai</x> </u
    >,
    <u>
      <x class="external" onclick="page('sf')">sf</x>
    </u>
    and
    <u>
      <x class="external" onclick="page('bangalore')">bangalore</x>
    </u>
  </li>

  <li>
    vibing to
    <a href="https://open.spotify.com/playlist/5vN6wDVnIh6DtnPB3r7EAy"
      >my playlist</a
    >
  </li>
</ul>

<br />
<h1>Past</h1>

<ul>
  <li>built smart contract automation tools at Execute Labs</li>
  <li>
    built SDKs used by thousands of developers at
    <a href="https://thirdweb.com">thirdweb</a>
  </li>
  <li>
    helped indian genZ builders build in crypto with
    <a href="https://jugaadgrant.xyz">jugaad grant</a>
  </li>
  <li>
    deployed software that deployed software with
    <a href="https://dishhq.xyz">dish</a>
  </li>
  <li>
    was product engineer for a short while at
    <a href="https://attentioun.com">Attentioun</a>
  </li>
  <li>worked on Verve - hiring in the NFT space made easy.</li>
  <li>
    helped build the core of the platform at
    <a href="https://www.agoralabs.xyz/">Agora</a> (prev Bitperks)
  </li>
  <li>
    spent summer '20 at <a href="https://deta.sh/">Deta</a> helping with getting
    young hackers excited about building.
  </li>
  <li>
    built an app called Mathympus in high school, an all-in-one app for math/sci
    students.
  </li>
  <li>
    came 6th in 400+ teams at a country-wide biz model canvas competition at
    <a href="https://www.ecell.in/2020/">iit bombay</a>
  </li>

  <li>worked on some other fun projects</li>
</ul>
